@model ExpressiveAnnotations.MvcWebSample.Models.Address

    <pre class="code">
[AssertThat("StartsWith(Details, StreetPrefix)")]
[AssertThat("Length(Trim(Details)) > Length(StreetPrefix) + 1")]
</pre>
    <pre class="action">[show attribute]</pre>
    <div>
        @Html.Label(Model.Type, new { @class = "inline prefix" })
        @Html.EditorFor(model => model.Details)
        @Html.ValidationMessageFor(model => model.Details)

        @*hidden backing fields*@
        @Html.HiddenFor(model => model.StreetPrefix)
        @Html.HiddenFor(model => model.Type)
    </div>
