@model ExpressiveAnnotations.MvcWebSample.Models.Contact

<ol>
    <li>
        <pre class="code">
[RequiredIf("Phone == null")]
[AssertThat("IsEmail(Email) && IsTrue(IsUnique(Email))")]
</pre>
        <pre class="action">[show attribute]</pre>
        <div>
            @Html.LabelFor(model => model.Email, new { @class = "inline prefix" })
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </li>
    <li>
        <pre class="code">
[RequiredIf("Email == null")]
[AssertThat(@@"IsRegexMatch(Phone, '^\\d+$')")]
[AssertThat("Length(Phone) > 8 && Length(Phone) < 16")]
</pre>
        <pre class="action">[show attribute]</pre>
        <div>
            @Html.LabelFor(model => model.Phone, new {@class = "inline prefix"})
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
    </li>

@for (var i = 0; i < Model.Addresses.Count; i++)
{
    <li>
        <pre class="code">
[AssertThat("StartsWith(Details, StreetPrefix)")]
</pre>
        <pre class="action">[show attribute]</pre>
        <div>
            @Html.EditorFor(model => Model.Addresses[i])
        </div>
    </li>
}

</ol>
