@using System.Threading
@using ExpressiveAnnotations.MvcWebSample.Misc
@model ExpressiveAnnotations.MvcWebSample.Models.Query

@{
    var lang = Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
    var client = "client".Equals(ViewBag.Validation);
    var triggers = ViewBag.Triggers;
    var debug = Html.IsDebug().ToString().ToLowerInvariant();
}

<div class="box">
    <div class="left-corner">
        <h1>ExpressiveAnnotations - annotation-based conditional validation</h1>
    </div>
    <div class="right-corner">
        <a href="https://github.com/jwaliszko/ExpressiveAnnotations">[more on github]</a>
    </div>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new {id = "mainform"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true) @*show/hide validation summary block*@

    <div class="message-success">@(ViewBag.Success ?? Html.Raw("&nbsp;"))</div>

    <fieldset>
        <legend>Usage sample for model validation in ASP.NET MVC</legend>
        <div class="box-small">
            <div class="right-corner">
                @Html.Partial("_Culture")
                @Html.Partial("_Validation")
            </div>
        </div>
        @Html.EditorFor(model => model)
        <input type="submit" />
    </fieldset>
}

@section Scripts {
    @if (client)
    {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/expressive") // load expressive.annotations.validate.js

        <script>
            // var expann = ea.noConflict(); // in case of naming collision, return control of the ea variable back to its origins (old references of ea are saved during ExpressiveAnnotations initialization; noConflict() restores them)
            // expann.addMethod... // do something with ExpressiveAnnotations
            // ea... // do something with original ea variable

            // ----- define your settings -----

            ea.settings.apply({
                debug: '@debug' === 'true',
                dependencyTriggers: '@triggers' // if not explicitly provided, default setup is: 'change keyup'
            });

            // ----- define your parsers -----

            ea.addValueParser('NonStandardDateParser', function(value) { // override default datetime parsing mechanism to deal with yyyy-mm-dd format
                if (value === '') {
                    return;        
                }

                var millisec;
                if (!/^\d{4}-\d{2}-\d{2}$/.test(value)) { // in case the value does not have non-standard format (here, when language set to english)...
                    millisec = Date.parse(value); // ...try to go with standard way (default date parser used)                    
                } else {
                    var arr = value.split('-');
                    var date = new Date(arr[0], arr[1] - 1, arr[2]); // months are 0-based
                    millisec = date.getTime();
                }

                if (typeof millisec === 'number' && !isNaN(millisec)) {
                    return millisec; // return milliseconds...
                }

                throw 'Invalid date string provided.';
            });
            ea.addValueParser('ArrayParser', function(value, field) { // provide your custom parsing mechanism of the field value at client side
                                                                      // parameters: value - raw data string extracted by default from DOM element
                                                                      //             field - DOM element name for which parser was invoked
                var array = $(':input[name="' + field + '"]').serializeArray();
                return array.length === 0
                    ? null    // if array is empty, return null for RequiredIf to complain
                    : array;  // otherwise - return array object for the ArrayLength method to work on
            });

            // ----- define your methods -----

            ea.addMethod('IsBloodType', function(group) {
                return /^(A|B|AB|0)[\+-]$/.test(group);
            });
            ea.addMethod('AddYears', function(from, years) {
                from = new Date(from); // preprocessed datetime arguments passed to functions are given milliseconds
                var to = from.getFullYear() + years;
                from.setFullYear(to);
                return from.getTime();
            });
            ea.addMethod('ArrayContains', function(value, array) {
                return $.inArray(value, array) >= 0;
            });
            ea.addMethod('ArrayLength', function(array) {
                return array.length;
            });

            // ----- do some other stuff, not related to ea directly -----

            $(document).ready(function() {
                $('#triggers input[type="checkbox"]').on('click', function() {
                    // disable some excessive activity if you wish, and e.g. trigger dependent fields validation only when field 'change' event is fired -
                    // - when all triggers are disabled, validation will be fired on form submit attempt only
                    var triggers = $('#triggers input[type="checkbox"]:checked').map(function() {
                        return $(this).attr('data-val');
                    }).toArray().join(' ');

                    $.ajax({ // set cookie (could be also done directly here, in JavaScript: http://stackoverflow.com/a/17521905/270315)
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        url: '/System/SetTriggers',
                        data: JSON.stringify({ events: triggers }),
                        success: function(result) {
                            if (result.success) {
                                ea.settings.apply({ dependencyTriggers: triggers });
                            }
                        }
                    });
                });

                $(document).on('paste', function(e) {
                    e = $.extend({}, e, { type: 'afterpaste' }); // define custom event 'afterpaste', which fires slightly after 'paste' event is invoked - this tiny delay is necessary for the field value to become ready for being collected
                    window.setTimeout(function() { // ('paste' event itself is to early, because fires before field value is actually modified, so its new content value cannot be accessed from within this event)
                        $(e.target).trigger(e.type);
                    }, 50);
                });
            });
        </script>
    }

    <script>
        $(document).ready(function() {
            $('.action').click(function() {
                $(this).hide();
                $(this).parent().find('.code').toggle('slow');
            });

            $.datepicker.setDefaults({
                changeMonth: true,
                changeYear: true
            });

            $('.date').datepicker($.datepicker.regional['@lang']).on('change', function() {
                if (typeof $('form').valid == 'function') { // safety check if our demo project is not set to server side validation only (no jquery.validate.js loaded)
                    $(this).valid(); // triggers the validation test on change (to avoid second click)
                }
            });

            $('input[type="checkbox"], input[type="radio"]').on('change', function() {
                if (typeof $('form').valid == 'function') {
                    $(this).valid(); // triggers the validation test on change (jquery.validate.js does not trigger checkbox and radio validation on click, if such a click occurs prior to first submission attempt of entire form - later, validation is triggered 
                }
            }); // (downside of this hack - validation triggered 2 times for these fields after first form submission attempt is done)


            $('#triggers input[type="checkbox"]').attr('disabled', @Json.Encode(!client));
        });

        $.datepicker.regional['pl'] = { // https://github.com/jquery/jquery-ui/tree/master/ui/i18n
            closeText: 'Zamknij',
            prevText: '&#x3C;Poprzedni',
            nextText: 'Następny&#x3E;',
            currentText: 'Dziś',
            monthNames: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
            monthNamesShort: ['Sty', 'Lu', 'Mar', 'Kw', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Pa', 'Lis', 'Gru'],
            dayNames: ['Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'],
            dayNamesShort: ['Nie', 'Pn', 'Wt', 'Śr', 'Czw', 'Pt', 'So'],
            dayNamesMin: ['N', 'Pn', 'Wt', 'Śr', 'Cz', 'Pt', 'So'],
            weekHeader: 'Tydz',
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
    </script>
}
