<!DOCTYPE html>

@{ var lang = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName; }

<html lang="@lang">
    <head>
        <meta charset="utf-8" />
        <title>ExpressiveAnnotations</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
    </head>
    <body>
        <div id="body">
            <section class="content-wrapper">
                @RenderBody()
            </section>
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("scripts", required: false)
    </body>
</html>
